@mixin flex-container($justify: flex-start, $align: flex-start, $type: flex) {
  display: $type;
  justify-content: $justify;
  align-items: $align;
}

@mixin maxAspectRatio($x, $y) {
  @media (max-aspect-ratio: #{$x} / #{$y}) {
    @content;
  }
}

@mixin minAspectRatio($x, $y) {
  @media (max-aspect-ratio: #{$x} / #{$y}) {
    @content;
  }
}

@mixin maxAndMinAspectRatio($xMax, $yMax, $xMin, $yMin) {
  @media (max-aspect-ratio: #{$xMax} / #{$yMax}) and (min-aspect-ratio: #{$xMin} / #{$yMin}) {
    @content;
  }
}
