/**********************************************************
***COLOR
***********************************************************/

$color-primary:                     #253B48;

$color-orange:                      #FF4500;
$color-green:                       #6CAA00;
$color-red:                         #ED1B24;
$color-white:                       #ffffff;
$color-black:                       #000000;

$color-gray1:                       #e8e8e8;
$color-gray2:                       #696969;
$color-gray3:                       #c4c4c4;

$body-bg:                           $color-white;
$text-color:                        $color-primary;

/**********************************************************
***Z INDEX
***********************************************************/

$zindex-header:                     1000;

// $zindex-navbar:            1000;
// $zindex-dropdown:          1000;
// $zindex-popover:           1060;
// $zindex-tooltip:           1070;
// $zindex-navbar-fixed:      1030;
// $zindex-modal-background:  1040;
// $zindex-modal:             1050;

/**********************************************************
***TYPOGRAPHY
***********************************************************/

$font-family-sans-serif:            Mont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:                 Georgia, "Times New Roman", Times, serif;
$font-family-monospace:             Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:                  $font-family-sans-serif;

// if device width = 1920 -- 0.84vw = 1.49vmin ~= 16px;
$font-size-base:                    1.49vmin;

$font-size-h1:                      3.3rem;
$font-size-h2:                      2.56rem;
$font-size-h3:                      2.2rem;
$font-size-h4:                      1.6rem;
$font-size-h5:                      1.1rem;
$font-size-h6:                      0.8rem;

$line-height-base:                  1.8rem;

/**********************************************************
***BASE
***********************************************************/

$width-logo:                        20.8%;
$height-header:                     6.2rem;
$mosaic-bkg:                        repeating-linear-gradient(-39deg, transparent, transparent 7px, white 7px, #EBEBEB 8px);













































//
