//base
$width-logo: 20.8%;
$height-header: 6.2rem;
//color

$color--primary: #253B48;
$color--green: #6CAA00;
$color--orange: #FF4500;
$color--red: #ED1B24;
$color--white: #ffffff;
$color--black: #000000;

$color--gray1: #e8e8e8;
$color--gray2: #696969;
