@import "settings/base";

header {
  @include flex-container(space-between, center);
  position: fixed;
  width: 100%;
  height: $height-header;
  z-index: $zindex-header;
  .logo {
    @include flex-container(center, center);
    width: $width-logo;
    height: 100%;
    background-color: $color-white;
    svg {
      height: 80%;
    }
  }
  nav {
    @include flex-container(space-between, center);
    flex: 1;
    height: 100%;
    background-color: $color-primary;
    & > a {
      @include flex-container(center, center, inline-flex);
      color: $color-white;
      flex: 1 1 auto;
      height: 100%;
      font-size: 2.1rem;
      font-weight: 600;
      transition: all 0.25s linear;
      text-transform: uppercase;
      &:hover {
        background-color: $color-green;
      }
    }
  }
}

.section-preview {
  width: 100%;
  height: 100%;
  @include flex-container(space-between, stretch);
  aside {
    background-color: $color-primary;
    height: 100%;
    width: $width-logo;
    padding: 1rem;
    box-sizing: border-box;
    .logo {
      display: inline-block;
      margin-top: 6rem;
      text-align: center;
      & > img {
        width: 80%;
      }
    }
    & > ul {
      margin-top: 4.3rem;
      margin-bottom: 2rem;
      & > li {
        @include flex-container(flex-start, center);
        color: $color-white;
        margin-bottom: 0.2rem;
        & > span {
          &:first-child {
            @include flex-container(center, center);
            width: 5.4rem;
            height: 5.4rem;
            flex: 0 0 auto;
            img {
              width: 60%;
            }
          }
          &:last-child {
            flex: 0 1 auto;
            font-weight: 600;
            font-size: 1.42rem;
            margin-left: 0.9rem;
            line-height: 1.3;
          }
        }
      }
    }
    .social {
      @include flex-container(center, center);
      & > a {
        width: 3.4rem;
        margin: 0 1rem;
        svg {
          width: 100%;
          path {
            fill: $color-white;
          }
          circle {
            stroke: $color-white;
          }
        }
      }
    }
  }
  .banner {
    position: relative;
    background-image: url('../img/sky_bkg.jpg');
    background-size: cover;
    background-position: left top;
    flex: 1;
    .content-wrap {
      margin-top: $height-header;
      color: $color-white;
      margin-left: 2rem;
      h1 {
        background-color: $color-green;
        display: inline-block;
        font-weight: 900;
        margin-top: 2.5rem;
        padding: 0.3rem 1rem 1.4rem 1rem;
      }
      p {
        font-size: 1.55rem;
        font-weight: 900;
        margin-bottom: 0.7rem;
        & > span {
          color: $color-primary;
          display: inline-block;
          &.pow {
            position: relative;
            &:after {
              content: '2';
              position: absolute;
              right: -0.8rem;
              font-size: 70%;
            }
          }
        }
        &:first-of-type {
          margin-top: 2.3rem;
        }
      }
    }
    .svg-map {
      @include flex-container(flex-end, flex-end);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/central_house_preview1_mask.png');
      background-size: 100%;
      background-position: right bottom;
      background-repeat: no-repeat;
      svg {
        margin-bottom: 1.1%;
        width: 98%;
        path {
          cursor: pointer;
          opacity: 0.75;
          fill: $color-green;
          stroke: $color-green;
          transition: all 0.2s linear;
          &:hover {
            opacity: 1;
            fill: transparent;
            stroke: $color-primary;
          }
        }
      }
    }
  }
}

.section-about {
  @include flex-container(center, center);
  background: $mosaic-bkg;
  flex-direction: column;
  height: 100%;
  width: 100%;
  h2 {
    & > span {
      color: $color-green;
    }
  }
  .content-wrap {
    @include flex-container(space-between, center);
    // max-width: 103.5rem;
    width: 87%;
    margin: 0 auto;
    & > div {
      &:first-child {
        flex: 0 1 40.6%;
        .headline {
          @include flex-container(space-between, stretch);
          background-color: $color-primary;
          h2 {
            box-sizing: border-box;
            color: white;
            padding-left: 2.2rem;
            padding-right: 0rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            flex: 1 1 auto;
          }
          span {
            flex: 1 1 auto;
            background: url('../img/central_house_logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 10rem;
            background-color: $color-black;
            width: 21rem;
          }
        }
        & > img {
          outline: 1px solid green;
          width: 2rem;
        }
        .btn {
          outline: 1px solid green;
          svg {
            width: 2rem;
          }
        }
      }
      &:last-child {
        flex: 0 1 60%;
        font-size: 1.5rem;
        color: $color-black;
        margin-left: 4rem;
        text-indent: 1rem;
        p {
          margin-bottom: 1.5rem;
          span {
            color: $color-primary;
            font-weight: 900;
          }
        }
      }
    }
  }
}

.section {
  div {
    outline: 1px solid green;
  }
}

@media (max-aspect-ratio: 6 / 5) {
  * {
    outline: 1px solid red !important;
  }
}









































//
