@import "settings/base";

header {
  @include maxAspectRatio(6, 5) {
    .desktop {
      display: none;
    }
    .mobile {
      @include flex-container(space-between, stretch);
    }
  }
  .desktop {
    @include flex-container(space-between, center);
    z-index: $zindex-header;
    position: fixed;
    width: 100%;
    height: $height-header;
    .logo {
      @include flex-container(center, center);
      width: $width-logo;
      height: 100%;
      background-color: $color-white;
      svg {
        height: 80%;
      }
    }
    nav {
      @include flex-container(space-between, center);
      flex: 1;
      height: 100%;
      background-color: $color-primary;
      & > a {
        @include flex-container(center, center, inline-flex);
        color: $color-white;
        flex: 1 1 auto;
        height: 100%;
        font-size: 2.1rem;
        font-weight: 600;
        transition: all 0.25s linear;
        text-transform: uppercase;
        &:hover {
          background-color: $color-green;
        }
      }
    }
  }
  .mobile {
    display: none;
    z-index: $zindex-header;
    position: fixed;
    width: 100%;
    height: $height-header-mobile;
    background-color: $color-white;
    .logo {
      @include flex-container(flex-start, center);
      width: 35%;
      text-align: center;
      svg {
        margin-left: 2.5rem;
        height: 75%;
      }
    }
    .nav {
      @include flex-container(flex-end, stretch);
      position: relative;
      width: 60%;
      .social {
        @include flex-container(flex-start, center);
        margin-right: 5rem;
        & > a {
          width: 2.9rem;
          margin-left: 1.2rem;
          svg {
            path {
              fill: $color-green;
            }
            circle {
              stroke: $color-green;
            }
          }
        }
      }
      .open-btn {
        @include flex-container(center, center);
        flex-direction: column;
        width: 5.5rem;
        background-color: $color-primary;
        cursor: pointer;
        position: relative;
        z-index: 1;
        span {
          display: inline-block;
          width: 60%;
          height: 0.15rem;
          background-color: $color-white;
          border-radius: 2rem;
          margin-top: 0.45rem;
          margin-bottom: 0.45rem;
          transition: all 0.2s ease;
        }
        &.active {
          span {
            margin: -0.07rem;
            &:nth-child(1) {
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              transform: translateX(5rem);
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
      .mobile-menu {
        @include flex-container(space-between, stretch);
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 30rem;
        background-color: $color-primary;
        right: -50rem;
        transition: all 0.2s linear;
        box-sizing: border-box;
        padding-top: $height-header-mobile;
        padding-bottom: 3rem;
        &.active {
          right: 0;
        }
        nav {
          @include flex-container(flex-start, stretch);
          flex-direction: column;
          & > a {
            padding: 1.5rem 3rem;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-white;
            transition: all 0.2s linear;
            &:active, &:focus, &:hover {
              color: black;
              background-color: $color-green;
            }
          }
        }
        .img-wrap {
          padding-left: 3rem;
          img {
            width: 10rem;
          }
        }
      }
    }
  }
}

.section-preview {
  @include maxAspectRatio(6, 5) {
    .desktop {
      display: none;
    }
    .mobile {
      @include flex-container(flex-start, stretch);
    }
  }
  .desktop {
    @include flex-container(space-between, stretch);
    width: 100%;
    height: 100%;
    aside {
      background-color: $color-primary;
      height: 100%;
      width: $width-logo;
      padding: 1rem;
      box-sizing: border-box;
      .logo {
        display: inline-block;
        margin-top: 6rem;
        text-align: center;
        & > img {
          width: 80%;
        }
      }
      & > ul {
        margin-top: 4.3rem;
        margin-bottom: 2rem;
        & > li {
          @include flex-container(flex-start, center);
          color: $color-white;
          margin-bottom: 0.2rem;
          & > span {
            &:first-child {
              @include flex-container(center, center);
              width: 5.4rem;
              height: 5.4rem;
              flex: 0 0 auto;
              img {
                width: 60%;
              }
            }
            &:last-child {
              flex: 0 1 auto;
              font-weight: 600;
              font-size: 1.42rem;
              margin-left: 0.9rem;
              line-height: 1.3;
            }
          }
        }
      }
      .social {
        @include flex-container(center, center);
        & > a {
          width: 3.4rem;
          margin: 0 1rem;
          svg {
            width: 100%;
            path {
              fill: $color-white;
            }
            circle {
              stroke: $color-white;
            }
          }
        }
      }
    }
    .banner {
      position: relative;
      background-image: url('../img/sky_bkg.jpg');
      background-size: cover;
      background-position: left top;
      flex: 1;
      .content-wrap {
        margin-top: $height-header;
        color: $color-white;
        margin-left: 2rem;
        h1 {
          background-color: $color-green;
          display: inline-block;
          font-weight: 900;
          margin-top: 2.5rem;
          padding: 0.3rem 1rem 1.4rem 1rem;
        }
        p {
          font-size: 1.55rem;
          font-weight: 900;
          margin-bottom: 0.7rem;
          & > span {
            color: $color-primary;
            display: inline-block;
            &.pow {
              position: relative;
              &:after {
                content: '2';
                position: absolute;
                right: -0.8rem;
                font-size: 70%;
              }
            }
          }
          &:first-of-type {
            margin-top: 2.3rem;
          }
        }
      }
      .svg-map {
        @include flex-container(flex-end, flex-end);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/central_house_preview1_mask.png');
        background-size: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        svg {
          margin-bottom: 1.1%;
          width: 98%;
          path {
            cursor: pointer;
            opacity: 0.75;
            fill: $color-green;
            stroke: $color-green;
            transition: all 0.2s linear;
            &:hover {
              opacity: 1;
              fill: transparent;
              stroke: $color-primary;
            }
          }
        }
      }
    }
  }
  .mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .headline {
      padding-top: $height-header-mobile;
      background-image: url('../img/sky_bkg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 36rem;
      position: relative;
      overflow: hidden;
      @include maxAndMinAspectRatio(6, 5, 5, 6) {
        .svg-img {
          bottom: -3rem;
        }
        .svg-wrap {
          bottom: -3rem;
        }
      }
      .back-btn {
        @include flex-container(flex-start, center, inline-flex);
        position: absolute;
        margin: 2.4rem;
        span {
          margin-right: 0.8rem;
          &:first-child{
            display: inline-block;
            transform: rotate(-180deg);
            svg {
              stroke: $color-white;
              width: 1rem;
              stroke-width: 7;
            }
          }
          &:last-child {
            font-size: 1.5rem;
            color: $color-white;
          }
        }
      }
      .svg-img {
        width: 100%;
        position: absolute;
        bottom: -1rem;
      }
      .svg-wrap {
        text-align: center;
        bottom: -1rem;
        position: absolute;
        width: 100%;
        padding-bottom: 9vw;
        .tooltip-wrap {
          @include flex-container(space-around, center);
          position: absolute;
          width: 100%;
          .tooltip {
            @include flex-container(flex-start, center);
            flex-direction: column;
            width: 5rem;
            height: 5rem;
            margin-top: -7rem;
            background-color: $color-green;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              bottom: -25%;
              width: 0;
              height: 0;
              $triangle-size: 1.4rem;
              border-left: $triangle-size solid transparent;
              border-right: $triangle-size solid transparent;
              border-top: $triangle-size solid $color-green;
            }
            span {
              color: $color-white;
              display: inline-block;
              &:first-child {
                padding: 0.3rem;
                font-size: 1.33rem;
                box-sizing: border-box;
                background-color: $color-primary;
                width: 100%;
              }
              &:last-child {
                font-size: 3.4rem;
                font-weight: 900;
                line-height: 0.7;
              }
            }
          }
        }
        svg {
          width: 94.7%;
          path {
            fill: $color-green;
            fill-opacity: 0.75;
            transition: all 0.2s linear;
            cursor: pointer;
            &:hover {
              stroke-width: 1;
              stroke: $color-green;
              fill-opacity: 0;
            }
          }
        }
      }
    }
    .section-nav {
      flex: 1 1 auto;
      @include flex-container(center, center);
      width: 100%;
      .nav-wrap {
        max-width: 40rem;
        .floor-list {
          margin-top: 2rem;
        }
        .section-list, .floor-list {
          @include flex-container(flex-start, flex-start);
          .label {
            @include flex-container(flex-end, center);
            height: 5rem;
            width: 13.5rem;
            background-color: $color-primary;
            color: $color-white;
            .text-wrap {
              & > span {
                display: block;
                font-size: 2.02rem;
                text-transform: uppercase;
                &:last-child {
                  font-weight: 700;
                }
              }
            }
            .svg-wrap {
              @include flex-container(center, center);
              height: 1.7rem;
              width: 1.7rem;
              margin-left: 1.5rem;
              svg {
                stroke: $color-white;
                stroke-width: 10;
                width: 100%;
                height: 100%;
                margin-right: 0.3rem;
              }
            }
          }
          .numbers {
            width: 25rem;
            margin-left: 0.8rem;
            & > a {
              display: inline-block;
              text-align: center;
              line-height: 0.8;
              width: 4.1rem;
              height: 5rem;
              margin-right: 0.16rem;
              margin-bottom: 1.7rem;
              font-size: 5rem;
              font-weight: 900;
              outline: none;
              border: 1px solid $color-primary;
              transition: all 0.2s linear;
              &:active, &:hover, &:focus {
                background-color: $color-green;
                color: $color-white;
                border-color: $color-green
              }
            }
          }
        }
      }
    }
  }
}

.section-about {
  @include flex-container(center, center);
  background: $mosaic-bkg;
  flex-direction: column;
  height: 100%;
  width: 100%;
  & > h2 {
    margin-top: 2rem;
    & > span {
      color: $color-green;
    }
  }
  .content-wrap {
    @include flex-container(space-between, center);
    width: 87%;
    margin: 0 auto;
    @include maxAspectRatio(6, 5) {
      flex-direction: column;
    }
    & > div {
      margin-top: 4.85rem;
      &:first-child {
        flex: 0 1 40.6%;
        padding-right: 0.9rem;
        box-sizing: border-box;
        @include maxAspectRatio(6, 5) {
          padding: 0;
          flex: 1 1 auto;
          width: 23rem;
        }
        .headline {
          @include flex-container(space-between, stretch);
          background-color: $color-primary;
          width: 100%;
          margin-top: 5rem;
          @include maxAspectRatio(6, 5) {
            height: 5rem;
            margin-top: 0;
          }
          h2 {
            @include flex-container(center, center);
            box-sizing: border-box;
            padding: 0.9rem 2% 1rem 5.4%;
            color: white;
            width: 57%;
            @include maxAndMinAspectRatio(5, 3, 6, 5) {
              font-size: 1.6rem;
            }
            @include maxAspectRatio(6, 5) {
              font-size: 1.3rem;
              line-height: 1.6rem;
            }
          }
          span {
            background: url('../img/central_house_logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 11.5rem;
            background-color: $color-black;
            width: 43%;
            box-sizing: border-box;
            padding: 4rem 0;
            @include maxAndMinAspectRatio(5, 3, 6, 5) {
              background-size: 8rem;
            }
            @include maxAspectRatio(6, 5) {
              padding: 0;
              background-size: 5rem;
              width: 39%;
            }
          }
        }
        .bkg-img{
          display: block;
          width: 100%;
          height: 27rem;
          background: url('../img/central_house_preview6.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @include maxAspectRatio(11, 9) {
            height: 15.3rem;
          }
        }
        .btn {
          @include flex-container(space-between, flex-start);
          width: 100%;
          margin-top: 2.5rem;
          height: 5.4rem;
          @include maxAspectRatio(6, 5) {
            height: 3rem;
            margin-top: 1rem;
          }
          & > span {
            &:first-child {
              @include flex-container(flex-start, center);
              color: white;
              background-color: $color-green;
              width: 80%;
              padding-left: 2rem;
              padding-right: 0.5rem;
              font-size: 3.3rem;
              text-transform: uppercase;
              height: 100%;
              @include maxAndMinAspectRatio(2, 1, 6, 5) {
                font-size: 2rem;
              }
              @include maxAspectRatio(6, 5) {
                font-size: 1.6rem;
                padding-left: 1rem;
              }
            }
            &:last-child {
              @include flex-container(center, center);
              width: 20%;
              background-color: $color-primary;
              text-align: center;
              height: 100%;
              svg {
                height: 3.1rem;
                stroke: $color-white;
                @include maxAspectRatio(6, 5) {
                  height: 70%;
                }
              }
            }
          }
        }
      }
      &:last-child {
        flex: 0 1 60%;
        font-size: 1.5rem;
        color: $color-black;
        margin-left: 1.8rem;
        text-indent: 0.8rem;
        @include maxAspectRatio(6, 5) {
          flex: 1 1;
          width: 100%;
        }
        p {
          margin-bottom: 2rem;
          padding-right: 4rem;
          line-height: 1.29;
          @include maxAspectRatio(17, 9) {
            font-size: 1.3rem;
          }
          @include maxAspectRatio(4, 3) {
            font-size: 1.2rem;
          }
          &:last-child {
            margin-bottom: none;
          }
          span {
            color: $color-primary;
            font-weight: 800;
          }
        }
      }
    }
  }
}

.section-equipment {
  @include flex-container(center, center);
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1.3rem;
  & > h2 {
    text-align: center;
  }
  .table {
    width: 80%;
    margin-top: 1.9rem;
    .row {
      @include flex-container(space-between, stretch);
      padding: 0.5rem 2.56rem 0.7rem 2.56rem;
      background-color: $color-gray1;
      &:nth-child(even) {
        background-color: transparent;
        padding: 1.5rem 2.56rem 1.5rem 2.56rem;
      }
      .cell {
        @include flex-container(flex-start, center);
        line-height: 1.62rem;
        font-size: 1.22rem;
        &:first-child {
          font-weight: 900;
          width: 19%;
        }
        &:last-child {
          width: 81%;
        }
      }
    }
  }
}

.section-infrastructure {
  @include flex-container(center, center);
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $mosaic-bkg;
  margin-top: 0.5rem;
  & > h2 {
    color: $color-green;
    margin-top: 5rem;
  }
  .figures-wrap {
    @include flex-container(center, center);
    flex-wrap: wrap;
    width: 61%;
    margin-top: 4rem;
    & > figure {
      @include flex-container(center, center);
      flex-direction: column;
      width: 33.333%;
      margin-bottom: 4rem;
      .img-wrap {
        @include flex-container(center, center);
        background-color: $color-gray3;
        width: 16rem;
        height: 10rem;
        img {
          width: 50%;
        }
      }
      figcaption {
        background-color: $color-green;
        width: 16rem;
        color: $color-white;
        text-align: center;
        font-size: 1.1rem;
        padding: 2rem;
        box-sizing: border-box;
        height: 5.5rem;
      }
    }
  }
  .discription {
    width: 60%;
    text-align: center;
    font-size: 1.88rem;
    line-height: 2.6rem;
    span {
      color: $color-green;
      font-weight: 900;
    }
  }
}

.section-slider {
  width: 100%;
  height: 100%;
  position: relative;
  .item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    &.item1 {background-image: url('../img/central_house_preview3.jpg');}
    &.item2 {background-image: url('../img/central_house_preview4.jpg');}
    &.item3 {background-image: url('../img/central_house_preview5.jpg');}
    &.item4 {background-image: url('../img/central_house_preview6.jpg');}
  }
  .slider-nav {
    @include flex-container(center, center);
    position: absolute;
    bottom: 0;
    width: 100%;
    .links-wrap {
      @include flex-container(center, center, inline-flex);
      background-color: rgba(0, 0, 0, .75);
      a {
        background-size: cover;
        background-position: center;
        width: 12rem;
        height: 8.5rem;
        margin: 1rem;
        &:nth-child(1) {background-image: url('../img/central_house_preview3.jpg');}
        &:nth-child(2) {background-image: url('../img/central_house_preview4.jpg');}
        &:nth-child(3) {background-image: url('../img/central_house_preview5.jpg');}
        &:nth-child(4) {background-image: url('../img/central_house_preview6.jpg');}
      }
    }
  }
}

.section-footer {
  position: relative;
  background-image: url('../img/central_house_preview4.jpg');
  background-size: cover;
  background-position: center center;
  .filter {
    background: rgba(0, 0, 0, 0.75);
  }
  .content-wrap{
    @include flex-container(space-between, center);
    width: 89.5%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: $color-white;
    & > div {
      & > h2 {
        font-size: 4.82rem;
        font-weight: 900;
      }
    }
    .left {
      @include flex-container(center, space-between);
      flex-direction: column;
      width: 49.3%;
      margin-top: 7rem;
      line-height: 3.11rem;
      background-color: $color-primary;
      height: 83%;
      .address {
        margin-top: 5rem;
      }
      .phone {
        margin-top: 2rem;
      }
      p {
        font-size: 2.47rem;
        font-weight: 300;
        .strong {
          font-weight: 900;
        }
        .br {
          display: block;
        }
      }
      .worktime {
        margin-top: 2rem;
      }
      .social {
        @include flex-container(center, center);
        margin-top: 5rem;
        & > a {
          width: 3.4rem;
          margin: 0 1rem;
          svg {
            width: 100%;
            path {
              fill: $color-white;
            }
            circle {
              stroke: $color-white;
            }
          }
        }
      }
    }
    .right {
      @include flex-container(center, center);
      flex-direction: column;
      width: 46.2%;
      .footer-logo {
        background-image: url('../img/ninvest_logo_img.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 20rem;
        height: 20rem;
        margin-top: 10rem;
      }
      & > h2 {
        margin-top: 3rem;
      }
      ul {
        line-height: 2.1rem;
        width: 33rem;
        margin-top: 4rem;
        li {
          font-size: 1.61rem;
          margin-bottom: 1rem;
          position: relative;
          .svg-wrap {
            position: absolute;
            left: -2.1rem;
            top: 1rem;
            svg {
              width: 0.8rem;
              stroke: $color-green;
            }
          }
        }
      }
    }
  }
}

#test-img-bcg {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.5;
  margin: 0 auto;
  top: 0;
  top: -880px;
  // top: -2160px;
  // top: -3240px;
  // top: -4320px;
  // top: -5400px;
  display: none;
  z-index: 10;
  width: 518px;
  &.active {
    display: block;
  }
}


































//
