@import "settings/base";

header {
  @include flex-container(space-between, center);
  position: fixed;
  width: 100%;
  height: $height-header;
  z-index: $zindex-header;
  .logo {
    @include flex-container(center, center);
    width: $width-logo;
    height: 100%;
    background-color: $color-white;
    svg {
      height: 80%;
    }
  }
  nav {
    @include flex-container(space-between, center);
    flex: 1;
    height: 100%;
    background-color: $color-primary;
    & > a {
      @include flex-container(center, center, inline-flex);
      color: $color-white;
      flex: 1 1 auto;
      height: 100%;
      font-size: 2.1rem;
      font-weight: 600;
      transition: all 0.25s linear;
      text-transform: uppercase;
      &:hover {
        background-color: $color-green;
      }
    }
  }
}

.section-preview {
  width: 100%;
  height: 100%;
  @include flex-container(space-between, stretch);
  aside {
    background-color: $color-primary;
    height: 100%;
    width: $width-logo;
    padding: 1rem;
    box-sizing: border-box;
    .logo {
      display: inline-block;
      margin-top: 6rem;
      text-align: center;
      & > img {
        width: 80%;
      }
    }
    & > ul {
      margin-top: 4.3rem;
      margin-bottom: 2rem;
      & > li {
        @include flex-container(flex-start, center);
        color: $color-white;
        margin-bottom: 0.2rem;
        & > span {
          &:first-child {
            @include flex-container(center, center);
            width: 5.4rem;
            height: 5.4rem;
            flex: 0 0 auto;
            img {
              width: 60%;
            }
          }
          &:last-child {
            flex: 0 1 auto;
            font-weight: 600;
            font-size: 1.42rem;
            margin-left: 0.9rem;
            line-height: 1.3;
          }
        }
      }
    }
    .social {
      @include flex-container(center, center);
      & > a {
        width: 3.4rem;
        margin: 0 1rem;
        svg {
          width: 100%;
          path {
            fill: $color-white;
          }
          circle {
            stroke: $color-white;
          }
        }
      }
    }
  }
  .banner {
    position: relative;
    background-image: url('../img/sky_bkg.jpg');
    background-size: cover;
    background-position: left top;
    flex: 1;
    .content-wrap {
      margin-top: $height-header;
      color: $color-white;
      margin-left: 2rem;
      h1 {
        background-color: $color-green;
        display: inline-block;
        font-weight: 900;
        margin-top: 2.5rem;
        padding: 0.3rem 1rem 1.4rem 1rem;
      }
      p {
        font-size: 1.55rem;
        font-weight: 900;
        margin-bottom: 0.7rem;
        & > span {
          color: $color-primary;
          display: inline-block;
          &.pow {
            position: relative;
            &:after {
              content: '2';
              position: absolute;
              right: -0.8rem;
              font-size: 70%;
            }
          }
        }
        &:first-of-type {
          margin-top: 2.3rem;
        }
      }
    }
    .svg-map {
      @include flex-container(flex-end, flex-end);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/central_house_preview1_mask.png');
      background-size: 100%;
      background-position: right bottom;
      background-repeat: no-repeat;
      svg {
        margin-bottom: 1.1%;
        width: 98%;
        path {
          cursor: pointer;
          opacity: 0.75;
          fill: $color-green;
          stroke: $color-green;
          transition: all 0.2s linear;
          &:hover {
            opacity: 1;
            fill: transparent;
            stroke: $color-primary;
          }
        }
      }
    }
  }
}

.section-about {
  @include flex-container(center, center);
  background: $mosaic-bkg;
  flex-direction: column;
  height: 100%;
  width: 100%;
  & > h2 {
    margin-top: 2rem;
    & > span {
      color: $color-green;
    }
  }
  .content-wrap {
    @include flex-container(space-between, center);
    width: 87%;
    margin: 0 auto;
    & > div {
      margin-top: 4.85rem;
      &:first-child {
        flex: 0 1 40.6%;
        padding-right: 0.9rem;
        box-sizing: border-box;
        .headline {
          @include flex-container(space-between, stretch);
          background-color: $color-primary;
          width: 100%;
          h2 {
            @include flex-container(center, center);
            box-sizing: border-box;
            padding: 0.9rem 2% 1rem 5.4%;
            color: white;
            width: 57%;
          }
          span {
            background: url('../img/central_house_logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 11.5rem;
            background-color: $color-black;
            width: 43%;
            box-sizing: border-box;
            padding: 4rem 0;
          }
        }
        .bkg-img{
          display: block;
          width: 100%;
          height: 27rem;
          background: url('../img/central_house_preview6.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .btn {
          @include flex-container(space-between, flex-start);
          width: 100%;
          margin-top: 2.5rem;
          height: 5.4rem;
          & > span {
            &:first-child {
              @include flex-container(flex-start, center);
              color: white;
              background-color: $color-green;
              width: 80%;
              padding-left: 2rem;
              padding-right: 0.5rem;
              font-size: 3.3rem;
              text-transform: uppercase;
              height: 100%;
            }
            &:last-child {
              @include flex-container(center, center);
              width: 20%;
              background-color: $color-primary;
              text-align: center;
              height: 100%;
              svg {
                height: 3.1rem;
                stroke: $color-white;
              }
            }
          }
        }
      }
      &:last-child {
        flex: 0 1 60%;
        font-size: 1.5rem;
        color: $color-black;
        margin-left: 1.8rem;
        text-indent: 0.8rem;
        p {
          margin-bottom: 2rem;
          padding-right: 4rem;
          line-height: 1.29;
          &:last-child {
            margin-bottom: none;
          }
          span {
            color: $color-primary;
            font-weight: 800;
          }
        }
      }
    }
  }
}

.section-equipment {
  @include flex-container(center, center);
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1.3rem;
  & > h2 {
    text-align: center;
  }
  .table {
    width: 80%;
    margin-top: 1.9rem;
    .row {
      @include flex-container(space-between, stretch);
      padding: 0.5rem 2.56rem 0.7rem 2.56rem;
      background-color: $color-gray1;
      &:nth-child(even) {
        background-color: transparent;
        padding: 1.5rem 2.56rem 1.5rem 2.56rem;
      }
      .cell {
        @include flex-container(flex-start, center);
        line-height: 1.62rem;
        font-size: 1.22rem;
        &:first-child {
          font-weight: 900;
          width: 19%;
        }
        &:last-child {
          width: 81%;
        }
      }
    }
  }
}

.section-infrastructure {
  @include flex-container(center, center);
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1.3rem;
  & > h2 {
    color: $color-green;
  }
  .figures-wrap {
    @include flex-container(center, center);
    flex-wrap: wrap;
    width: 61%;
    margin-top: 5rem;
    & > figure {
      @include flex-container(center, center);
      flex-direction: column;
      width: 33.333%;
      .img-wrap {
        @include flex-container(center, center);
        background-color: $color-gray3;
        display: block;
        text-align: center;
        width: 16rem;
        height: 10rem;
      }
      figcaption {
        background-color: $color-green;
        width: 16rem;
        color: $color-white;
        text-align: center;
        font-size: 1.1rem;
        padding: 2rem;
        box-sizing: border-box;
        height: 5.5rem;
      }
    }
  }
}
// * {
//   outline: 1px solid green;
// }
// @media (max-aspect-ratio: 5 / 3) {
//   * {outline: 1px solid red;}
//   html {
//     font-size: 1.2vmin;
//   }
// }
//
// @media (max-aspect-ratio: 6 / 5) {
//   * {outline: 1px solid green;}
//   html {
//     font-size: 0.9vmin;
//   }
// }
//
// @media (max-aspect-ratio: 1 / 1) {
//   * {outline: 1px solid blue;}
//   html {
//     // font-size: 1vmin;
//   }
//   .section-about {
//     @include flex-container(center, center);
//     background: $mosaic-bkg;
//     flex-direction: column;
//     height: 100%;
//     width: 100%;
//     & > h2 {
//       margin-top: 2rem;
//       & > span {
//         color: $color-green;
//       }
//     }
//     .content-wrap {
//       @include flex-container(stretch, space-between);
//       flex-direction: column;
//       width: 90%;
//       margin: 0 auto;
//       & > div {
//         margin-top: 2rem;
//         &:first-child {
//           padding-right: 0rem;
//           width: 70rem;
//         }
//         &:last-child {
//           p {
//             margin-bottom: 2.2rem;
//             padding-right: 4rem;
//             line-height: 1.29;
//             font-size: 2rem;
//             &:last-child {
//               margin-bottom: none;
//             }
//             span {
//               color: $color-primary;
//               font-weight: 800;
//             }
//           }
//         }
//       }
//     }
//   }
// }
//
//
// @media (max-aspect-ratio: 4 / 5) {
//   * {outline: 1px solid coral;}
//
// }
//
// @media (max-aspect-ratio: 9 / 16) {
//   * {outline: 1px solid black;}
//
// }







































//
